<%= form_for(gift_entry) do |f| %>
  <% if gift_entry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(gift_entry.errors.count, "error") %> prohibited this gift_entry from being saved:</h2>

      <ul>
      <% gift_entry.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :received_date %>
    <%= f.date_select :received_date %>
  </div>

  <div class="field">
    <%= f.label :contents %>
    <%= f.text_area :contents %>
  </div>

  <div class="field">
    <%= f.label :message %>
    <%= f.text_area :message %>
  </div>

  <div class="field">
    <%= f.label :user %>
    <%= f.collection_select :user_id, User.all, :id, :email, prompt: true %>
  </div>

  <div class="field">
    <%= f.label :tin %>
    <%= f.collection_select :tin_id, Tin.all, :id, :serial_number, prompt: true %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
