<p id="notice"><%= notice %></p>

<p>
  <strong>Pin:</strong>
  <%= @tin.pin %>
</p>

<p>
  <strong>Serial number:</strong>
  <%= @tin.serial_number %>
</p>

<p>
  <strong>Order number:</strong>
  <%= @tin.order_number %>
</p>

<p>
  <strong>Purchase date:</strong>
  <%= @tin.purchase_date %>
</p>

<%= link_to 'Edit', edit_tin_path(@tin) %> |
<%= link_to 'Back', tins_path %>
